table.d {
  table-layout: 50px;

  color: #17202a;
  margin: 50px;
  width: 500px;
  text-align: center;



}
th,td {

  height: 90px;
  background-color:rgb(156, 210, 247);
  border-radius:30px;



}

#caja{
  padding-top: 20px;
    width: 500px;
  height: 50px;
  background-color:rgb(156, 210, 247);
  border-radius:30px;
  border: 1px solid black;
  text-align: center;
}
