#caja1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#68BDF5;

}


.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;

}
#caja1A{
float: left;
padding: 5px;
color: #fff;
width: 330px;
margin: 50px;
background: #039;
  text-align: center;
}


#caja1B{
float: left;
padding:5px;
color: #fff;
width: 330px;
margin: 50px;
background: #039;
  text-align: center;
}
#caja1C{
float: left;
padding: 5px;
color: #fff;
width: 330px;
margin: 50px;
background: #039;
text-align: center;
}


#cabecera{

  background-color:#68BDF5;
  height:auto;
  padding: 30px;

}


#izquierda{

    background-color:#68BDF5;
    float:left;
    overflow: hidden;
    width:70%;

}

#contenedor{
  border-style: solid double;
    overflow: hidden;

}

#caja2A{
float: left;
padding: 5px;
color: #fff;
width: 330px;
margin: 50px;
background: #039;
  text-align: center;
}


#caja2B{
float: left;
padding:5px;
color: #fff;
width: 330px;
margin: 50px;
background: #039;
text-align: center;
}



#derecha{


  background-color:#2e86c1;
  float: right;
  overflow: hidden;
  width:30%;


}
#pie{

padding: 10px;
overflow: hidden;
list-style-type: none;
background-color:  #2e86c1;
}
