#cabecera{
  background-color:#68BDF5;
  height:auto;
  padding: 30px;


}


#izquierda{
    height:100%;
    background-color:#68BDF5;
    float:left;
    overflow: hidden;
    width:60%;

}

#derecha{

  height:100%;
  background-color:#2e86c1;
  float: right;
  overflow: hidden;
  width:40%;
  text-align: center;


}

#caja1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#68BDF5;
  border-style: solid double;


}

#caja1A{
float: left;
padding: 10px;
color: #fff;
width: 400px;
margin: 50px;
background: #039;
  text-align: center;

}



#pie{

padding: 10px;
overflow: hidden;
list-style-type: none;
background-color:  #2e86c1;
border-style: solid double;

}
